<div class="accordion"
     id="accordion"
>
  {{#each accordion}}
  <div class="accordion__section">
    <h3 class="accordion__heading">
      <button class="accordion__button"
              id="accordion__button--{{ this.id }}"
              aria-expanded="false"
              aria-controls="accordion__panel--{{ this.id }}"
      >
        {{ this.heading }}
      </button>
    </h3>
    <div class="accordion__panel"
         id="accordion__panel--{{ this.id }}"
         role="region"
         aria-labelledby="accordion__button--{{ this.id }}"
    >
      <p class="accordion__contents">{{ this.contents }}</p>
    </div>
  </div>
  {{/each}}
  <p class="accordion__description">Click on a technology for more info.</p>
</div>
